<tr id="<%= dom_id(user) %>">
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at.localtime.strftime("%B %-d, %Y") %></td>
  <td><%= user.workshop_page_views %></td>
  <td class="delete-user-row">
    <%= link_to("Delete", user_path(user), method: :delete, class: "has-text-link", data: { "turbo-method" => "delete", controller: "confirmation", confirmation_message_value: "Are you sure you want to delete user '#{user.email}'? This action is permanent and cannot be undone.", action: "confirmation#confirm" }) %>
  </td>
</tr>
